body,h1,h2{font-family: "Oswald", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg1, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg1 {background-image: url("./imagens/casamento-fundo.jpg")}
.bgimg2 {background-image: url("./imagens/casal.jpg")}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}